
*{
    margin: 0%;
    padding: 0%;
}



html{

    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

.contenedor{
    width: 1200px;
    overflow: hidden;
    height: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.inicio{
    text-decoration: none;
    color: white;
}

@keyframes rectimp{
    0%{
        transform: translateY(1300px);
    }

    100%{ 
        
    }
}

@keyframes rectpar{
    0%{
        transform: translateX(800px);
    }

    100%{}
}

@keyframes cara{
    0%{
        opacity: 100%;
    }

    100%{
        opacity: 0%;
    }

}

@keyframes error{
    0%{
        transform: scale(0);
    }

    100%{
        transform: scale(1);
    }
}

@keyframes busca{
    0%{
        opacity: 0%;
    }

    100%{
        opacity: 100%;
    }
}


.rectangulo1{
    background-color: #2A2A62;
    position: relative;
    width: 16.8%;
    height: 500px;
    float: right;
    animation-name: rectimp;
    animation-duration: 3s;
    animation-direction: initial;
}

.rectangulo2{
    background-color: #E61972;
    width: 16.6%;
    height: 500px;
    float: right;
    animation-name: rectpar;
    animation-duration: 4.5s;
}

.rectangulo3{
    background-color: #E4141A;
    width: 16.6%;
    height: 500px;
    float: right;
    animation-name: rectimp;
    animation-duration: 5s;
}

.rectangulo4{
    background-color: #F3E725;
    width: 16.6%;
    height: 500px;
    float: right;
    animation-name: rectpar;
    animation-duration: 6.5s;
}

.rectangulo5{
    background-color: #33BDE7;
    width: 16.8%;
    height: 500px;
    float: right;
    animation-name: rectimp;
    animation-duration: 7s;
}

.rectangulo6{
    background-color: #159C39;
    width: 16.6%;
    height: 500px;
    float: left;
    animation-name: rectpar;
    animation-duration: 8s;
}

.rectangulo7{
    background-color: #040303;
    width: 55%;
    height: 119px;
    float: left;
    animation-name: rectimp;
    animation-duration: 9s;
}

.rectangulo8{
    background-color: #B9C0C1;
    width: 15%;
    height: 119px;
    float: left;
    animation-name: rectpar;
    animation-duration: 10s;
}

.rectangulo9{
    background-color: #040303;
    width: 15%;
    height: 119px;
    float: left;
    animation-name: rectimp;
    animation-duration: 9.5s;
}

.rectangulo10{
    background-color: #B9C0C1;
    width: 15%;
    height: 119px;
    float: right;
    animation-name: rectpar;
    animation-duration: 4s;
}

.clearfloat{
    clear: both;
}

.cara{
    margin-top: 50%;
    margin-left: 20%;
    animation-name: cara;
    animation-duration: 8s;
    animation-direction: reverse;
    width: 50%;
}

.caraf{
    margin-top: 50%;
    margin-left: 20%;
    animation-name: cara;
    animation-duration: 8s;
    animation-direction: reverse;
    width: 40%;
}

.texto{
    position: relative;
    bottom: 46%;
    left: 70%;
    color: azure;
    animation-name: cara;
    animation-duration: 6s;
    animation-direction: reverse;

}

.numerror{
    position: relative;
    left: 70%;
    bottom: 44%;
    color: azure;
    font-size: 120px;
    animation-name: error;
    animation-duration: 8s;
    
}

.txterror{
    position: relative;
    left: 70%;
    bottom: 40%;
    color: azure;
    font-size: 25px;
    animation-name: error;
    animation-duration: 8s;
}

.pie{
    position: relative;
    bottom: 25%;
    left: 5%;
    color: azure;
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 25px;
    animation-name: busca;
    animation-duration: 15s;
}

.buscador{
    transition: 0.5 all 0s ease;
    position: relative;
    left: 70%;    
    bottom: 45%;
    color: white;
    border-color: cadetblue;
    border: cyan;
    width: 13%;
    font-size: 17px;
    animation-name: busca;
    animation-duration: 12s;
    font-family: 'Raleway', sans-serif;
}


.buscador:hover{
    font-size: 20px;
}